.dreams-to-reality .dreamescarousel-cards-wrapper {
    max-width: unset;
}

.dreams-to-reality .dreamescarousel-cards-wrapper .dreamescarousel-cards {
    margin-bottom: 120px;
}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(2) {
    position: absolute;
    top: 100px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    padding-left: 60px;
    font-family: BioRhyme;
}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(4) p {
    position: absolute;
    top: 185px;
    color: white;
    font-weight: 200;
    font-size: 16px;
    padding-left: 60px;

}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(5) p {
    position: absolute;
    top: 220px;
    color: white;
    font-weight: 200;
    font-size: 16px;
    padding-left: 60px;

}

.dreamescarousel-cards .slick-next {
    right: 4%;
    top: 81%;
    width: 66px;
    height: 66px;
    background-color: #fff;
    border-radius: 50%;
}

.dreamescarousel-cards .slick-prev {
    z-index: 1;
    left: 87%;
    top: 81%;
    width: 66px;
    height: 66px;
    background-color: #fff;
    border-radius: 50%;
}

.dreamescarousel-cards .slick-dots {
    display: flex;
    align-items: center;
    bottom: 18%;
    left: 0%;
    margin-left: 60px;
    width: unset;
}

.dreamescarousel-cards .slick-dots li {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.dreamescarousel-cards .slick-dots .slick-active {
    width: 32px;
    border-radius: 10px;
    background-color: #ab8fd1;
}

.dream-to-reality {
    display: none;
}

.dreams-to-reality .dreamescarousel-cards-wrapper .slick-slide {
    position: relative;
}

.dreams-to-reality .dreamescarousel-cards-wrapper .slick-slide.slick-current.slick-active:before {
    background: linear-gradient(270deg, rgba(38, 40, 43, .4) 40.66%, #26282b 100%);
    content: '';
    height: 100%;
    left: 0;
    opacity: .6;
    position: absolute;
    top: 0;
    width: 100%;
}

.dreamescarousel-cards a.button:any-link {
    background-color: #7345b2;
    font-size: 18px;
    line-height: 27px;
    padding: 16px 32px;

}

#sleek-signature-studios-across-india {
    font-family: BioRhyme;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 41px;
    color: #323232;
}

.dreamescarousel-cards .slick-next:before,
.dreamescarousel-cards .slick-prev:before {
    color: black;
}

@media screen and (max-width: 992px) {
    .dreams-to-reality {
        display: none;
    }

    .dream-to-reality {
        display: block;
        margin-bottom: 80px;
    }

    .dream-to-reality .design-gallery .slick-dots {
        bottom: -4%;
        left: -35px;
        display: flex;
        justify-content: flex-end;
    }

    .dream-to-reality .design-gallery .slick-dots li {
        border-radius: 50px;
        background-color: #7345b2;
        margin: 0 3px;
    }

    .dream-to-reality .dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide {
        position: relative;
    }

    .dream-to-reality .dreamescarousel-cards-wrapper .slick-slide.slick-current.slick-active:before {
        background: linear-gradient(270deg, rgba(38, 40, 43, .4) 40.66%, #26282b 100%);
        content: '';
        height: 100%;
        left: 0;
        opacity: .6;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .dreams-to-reality .dreamescarousel-cards-wrapper .slick-slide.slick-current.slick-active:before {
        background: linear-gradient(270deg, rgba(38, 40, 43, .4) 40.66%, #26282b 100%);
        content: '';
        height: 100%;
        left: 0;
        opacity: .6;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .dreams-to-reality .dreamescarousel-cards-wrapper .dreamescarousel-cards {
        display: none;
    }

    #sleek-signature-studios-across-india {
        padding-top: 40px;
        margin-bottom: 37px;
        font-size: 26px;
        line-height: 34px;
    }

    .dream-to-reality .dreamescarousel-cards .slick-dots .slick-active {
        width: 32px;
        border-radius: 10px;
        background-color: #ab8fd1;
    }

    .dream-to-reality .dreamescarousel-cards .slick-dots li {
        width: 8px;
        height: 8px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 12px;
        cursor: pointer;
        transition: .2s all ease-in-out;
    }

    .dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(2) {
        top: 8%;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 4px;
    }

    .dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(4) {
        top: 14%;
    }

    .dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(5) {
        top: 18%;
    }

    .dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(2),
    .dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(4) p,
    .dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(5) p {
        padding: 0 20px;
    }

    .dreamescarousel-cards a.button:any-link {
        min-width: 180px;
        margin-right: 15px;
        font-size: 16px;
        line-height: 19px;
        padding: 12px 20px;
    }

    .dreamescarousel-cards .slick-prev {
        left: 70%;
    }

    .dreamescarousel-cards .slick-prev,
    .dreamescarousel-cards .slick-next {
        top: 95%;
    }

    .dreamescarousel-cards .slick-dots {
        bottom: 4%;
        margin-left: 20px;
    }
}
@media screen and (max-width: 768px) {
.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(4) p{
    top: 200px;
}
.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(5) p{
    top: 250px
}
.dreamescarousel-cards .slick-prev{
    left: 61%;
}
.dreamescarousel-cards .slick-prev, .dreamescarousel-cards .slick-next{
    top: 93%;
}
}