.dreamescarousel-cards-wrapper {
    max-width: none !important;
}

.dreamescarousel-cards-container {
    padding: 0 !important;
}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(2) {
    position: absolute;
    top: 100px;

    color: white;
    font-weight: 600;
    font-size: 40px;
    padding-left: 60px;
}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(4) p {
    position: absolute;
    top: 185px;

    color: white;
    font-weight: 200;
    font-size: 16px;
    padding-left: 60px;

}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(5) p {
    position: absolute;
    top: 220px;

    color: white;
    font-weight: 200;
    font-size: 16px;
    padding-left: 60px;

}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide {
    margin-bottom: 120px;
}

.dreamescarousel-cards-wrapper .dreamescarousel-cards .slick-list .slick-track .slick-slide :nth-child(2) p {
    font-family: BioRhyme;
}

.dreamescarousel-cards .slick-next {

    right: 3% !important;
    top: 68% !important;
    width: 66px;
    height: 66px;
    background-color: #fff;
    border-radius: 50%;

}

.dreamescarousel-cards .slick-prev {
    z-index: 1;
    left: 87%;
    top: 68% !important;
    width: 66px;
    height: 66px;
    background-color: #fff;
    border-radius: 50%;
}

.dreamescarousel-cards .slick-dots {
    display: flex;
    align-items: center;
    bottom: 30%;
    left: 3%;
}

.dreamescarousel-cards .slick-dots .slick-active {
    height: 8px;
    width: 32px;
    border-radius: 10px;
    background-color: #ab8fd1;
}

.dreamescarousel-cards .slick-dots li {
    width: 8px;
    height: 8px;
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
    -webkit-transition: .2s all ease-in-out;
    -o-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
}

.dreamescarousel-cards a.button:any-link {
    background-color: #7345b2 !important;
    font-size: 18px;
    line-height: 27px;
    padding: 16px 32px;

}

#sleek-signature-studios-across-india {
    font-family: BioRhyme;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    margin-bottom: 41px;
    color: #323232;
}
.dreamescarousel-cards .slick-next:before,
.dreamescarousel-cards .slick-prev:before {
    color: black ;
}

@media screen and (max-width: 992px) {
    .design-gallery .slick-dots {
        bottom: -4%;
        left: -35px;
        justify-content: flex-end;
    }

    .design-gallery .slick-dots li {
        border-radius: 50px;
        background-color: #7345b2;
        margin: 0 3px;
    }
}