main .home-improve-container {
    padding-bottom: 15px;
}

.home-improve-container .default-content-wrapper h2 {
    font-family: BioRhyme;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: .02em;
    line-height: 49.22px;
    text-align: center;
    color: #323232;
    margin-bottom: 9px;
}

.home-improve-container .default-content-wrapper p {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #696969;
    margin: 0px;
    margin-bottom: 30px;
}

.home-improve-container .columns-wrapper .columns-2-cols>div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 15px;
}

.home-improve-container .columns-wrapper .columns-2-cols .button-container {
    line-height: 27px;
}

.home-improve-container .columns>div>div {
    flex: unset !important;
}

.home-improve-container .columns-wrapper .columns-2-cols .button-container a.button {
    font-family: Lato, BioRhyme, sans-serif;
    font-size: 18px;
    background-color: #7345b2;
    padding: 16px 32px;
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    font-weight: 700;
}

.home-improve-container .columns-wrapper .columns-2-cols .button-container a.button:hover {
    background-color: #472b6f;
    color: white;
}

.home-improve-container .columns-2-cols .button.primary::after {
    background-image: url(/content/dam/beautiful-homes/icons/right-arrow.png);
    background-size: 13px 20px;
    width: 12px;
    height: 20px;
    content: "";
    background-repeat: no-repeat;
    margin-left: 12px;
}

.home-improve-container .columns-wrapper .columns-2-cols .button-container .button.secondary {
    background-color: #fff;
    border: 1px solid black;
    border-color: #7345b2;
    color: #7345b2;
    padding: 16px 75px;
}

.home-improve-container .columns-wrapper .columns-2-cols .button-container .button.secondary::after {
    background-image: url(/content/dam/beautiful-homes/icons/youtube-icon.png);
    background-size: 19px 15px;
    width: 19px;
    height: 15px;
    content: "";
    background-repeat: no-repeat;
    margin-left: 12px;
}

.home-improve-container .columns-wrapper .columns-2-cols .button-container .button.secondary:hover::after {
    background-image: url(/content/dam/beautiful-homes/icons/youtube-icon-white.png);
}

@media screen and (max-width: 992px) {
    main .home-improve-container {
        padding-bottom: 0;
        padding: 0 20px;
    }

    .home-improve-container .default-content-wrapper h2 {
        font-size: 26px;
        line-height: 33.8px;
        margin-bottom: 10px;
        letter-spacing: 2px;
    }

    .home-improve-container .default-content-wrapper p {
        font-size: 14px;
        line-height: 19.6px;
        margin-bottom: 35px;
    }

    .home-improve-container .columns-wrapper .columns-2-cols>div {
        align-items: center;
        gap: 20px;
        margin-bottom: 0;
        flex-direction: column;
    }

    .home-improve-container .columns-wrapper .columns-2-cols .button-container a.button {
        padding: 8px 42px;
    }

    .home-improve-container .columns-2-cols .button.primary::after {
        background-size: 10px 14px;
        width: 10px;
        height: 14px;
    }

    .home-improve-container .columns-wrapper .columns-2-cols .button-container .button.secondary {
        padding: 8px 42px;
    }
}