main .design-gallery {
    padding: 0;
}

.design-gallery .default-content-wrapper {
    max-width: unset;
    padding: 0 0 0 80px;
}

.design-gallery .default-content-wrapper h2 {
    color: #323232;
    font-family: BioRhyme;
    letter-spacing: 2px;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.192px;
    padding-top: 75px;
    margin-bottom: 16px;
    text-align: center;
    padding-right: 80px;
}

.design-gallery .default-content-wrapper p {
    color: #696969;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding-right: 80px;
    padding-bottom: 53px;
    margin: 0;
}

.design-gallery .carousel-wrapper-wrapper {
    max-width: unset;
    /* margin: 0; */
    padding: 0 0 0 80px;
}

/* .design-gallery .carousel-wrapper {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
    flex-wrap: nowrap;
} */

.carousel-wrapper>div {
    /* display: flex;
    flex-direction: column;
    margin-right: 20px;
    height: auto; */

    /* background-color: #f5f4ef; */
    /* width: 32.2%; */
    /* position: relative;
    margin-bottom: 30px;
    cursor: pointer; */
}

.carousel-wrapper>div img {
    height: 312px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    margin-bottom: 30px;
}

.carousel-wrapper picture,
.carousel-wrapper source {
    display: block;
    line-height: 0;
}

.carousel-wrapper h2 {
    color: #323232;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    padding: 0 30px;
    margin: 0;
    margin-bottom: 20px;
}

.carousel-wrapper .button-container {
    padding: 12px 39px;
    margin-left: 30px;
    margin-bottom: 42px;
    margin-top: auto;
    max-width: 250px;
    text-align: center;
    border: 1px solid #7345b2;
    border-radius: 50px;
    width: max-content;
    cursor: pointer;
    line-height: 0;
}

.carousel-wrapper .button-container a {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: #7345b2;
    cursor: pointer;
    /* unset */
    display: unset;
    /* box-sizing: unset; */
    /* text-decoration: unset; */
    border: unset;
    padding: unset;
    /* text-align: unset;
    font-style: unset; */
    background-color: unset;
    /* margin: unset;
    white-space: unset;
    overflow: unset;
    text-overflow: unset; */
    /* /* border-radius: 30px; */
}

.carousel-wrapper .slick-slide {
    background-color: #f5f4ef;
    border-radius: 10px;
    margin-right: 20px;
}

.carousel-wrapper .slick-next {
    right: 60px;
    top: unset;
}

.carousel-wrapper .slick-next:before {
    color: black;
    /* display: block;
    content: url(/content/dam/beautiful-homes/icons/ids-slider-arrow.png) */
}

.carousel-wrapper .slick-prev:before {
    color: black;
}

.carousel-wrapper .slick-prev {
    right: 100px;
    bottom: -52px;
    top: unset;
    left: unset;
}