main .design-gallery,
.section.fullhome {
    padding: 0;
}

.design-gallery .default-content-wrapper {
    padding: 0 0 53px 80px;
}

.design-gallery .default-content-wrapper,
.fullhome .default-content-wrapper {
    max-width: unset;
}

.design-gallery .default-content-wrapper h2,
.fullhome .default-content-wrapper h2 {
    color: #323232;
    font-family: BioRhyme;
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 42.192px;
    margin: 0;
    margin-bottom: 16px;
}

.design-gallery .default-content-wrapper h2 {
    letter-spacing: 2px;
    font-style: normal;
    padding-top: 0px;
    padding-right: 80px;
}

.fullhome .default-content-wrapper h2 {
    margin-top: 20px;
    margin-inline: 72px;
}

.design-gallery .default-content-wrapper p {
    color: #696969;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    padding-right: 80px;
    margin: 0;
}

.design-gallery .carousel-wrapper-wrapper,
.fullhome .carousel-wrapper-wrapper {
    max-width: unset;
    margin: 0;
    padding: 0 0 50px 80px;
}

.design-gallery .carousel-wrapper>div img {
    height: 312px;
    margin-bottom: 30px;
}

.fullhome .carousel-wrapper>div img {
    margin-bottom: 24px;
}

.design-gallery .carousel-wrapper>div img,
.fullhome .carousel-wrapper>div img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;

}

.design-gallery .carousel-wrapper picture,
.design-gallery .carousel-wrapper source,
.fullhome .carousel-wrapper picture,
.fullhome .carousel-wrapper source,
.center-slider .carousel-wrapper picture,
.center-slider .carousel-wrapper source {
    display: block;
    line-height: 0;
}

.design-gallery .carousel-wrapper h2,
.fullhome .carousel-wrapper h2 {
    color: #323232;
    font-family: Lato;
    font-weight: 700;
}

.design-gallery .carousel-wrapper h2 {
    font-size: 18px;
    line-height: 23.4px;
    padding: 0 30px;
    margin: 0;
    margin-bottom: 20px;
}

.fullhome .carousel-wrapper h2 {
    margin: 0;
    font-size: 22px;
    line-height: 28.6px;
    margin-bottom: 15px;
    padding: 0 32px;
}

.fullhome .carousel-wrapper p {
    color: #323232;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.8px;
    margin: 0;
    padding: 0 30px 20px;
}

.design-gallery .carousel-wrapper .button-container {
    padding: 12px 39px;
    margin-left: 30px;
    margin-bottom: 42px;
    margin-top: auto;
    max-width: 250px;
    text-align: center;
    border: 1px solid #7345b2;
    border-radius: 50px;
    width: max-content;
    cursor: pointer;
    line-height: 0;
}

.design-gallery .carousel-wrapper .button-container a {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: #7345b2;
    cursor: pointer;
    /* unset */
    display: unset;
    border: unset;
    padding: unset;
    background-color: unset;
}

.design-gallery .carousel-wrapper .slick-slide,
.fullhome .carousel-wrapper .slick-slide {
    background-color: #f5f4ef;
    border-radius: 10px;
    margin-right: 20px;
}

.fullhome .carousel-wrapper .slick-slide {
    min-height: 510px;
}

.design-gallery .carousel-wrapper .slick-next,
.fullhome .carousel-wrapper .slick-next {
    right: 70px;
    top: unset;
    height: unset;
    width: unset;
    margin: 0;
    bottom: -75px;
}

.design-gallery .carousel-wrapper .slick-next:before,
.design-gallery .carousel-wrapper .slick-prev:before,
.fullhome .carousel-wrapper .slick-next:before,
.fullhome .carousel-wrapper .slick-prev:before {
    line-height: 0;
}


.design-gallery .carousel-wrapper .slick-next:before,
.design-gallery .carousel-wrapper .slick-prev:before,
.fullhome .carousel-wrapper .slick-next:before,
.fullhome .carousel-wrapper .slick-prev:before {
    display: block;
    content: url(/content/dam/beautiful-homes/icons/ids-slider-arrow.png)
}

.design-gallery .carousel-wrapper .slick-prev,
.fullhome .carousel-wrapper .slick-prev {
    right: 120px;
    bottom: -55px;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    transform: rotate(182deg);
}

/* center slider CAROUSEL*/
main .center-slider {
    padding: 0;
    position: relative;
}

.center-slider .default-content-wrapper {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5E1E1A;
    height: 83%;
    left: 0;
    position: absolute;
    right: 0;
    top: 140px;
    width: 100%;
}

.center-slider .default-content-wrapper p {
    display: none;
}

.center-slider .carousel-wrapper-wrapper {
    max-width: 1440px;
    margin-bottom: 50px;
    padding: 35px 0;
}

.center-slider img {
    object-fit: contain;
    background: #f0f0f0;
}

.center-slider .slick-slide img {
    height: 577px
}

.center-slider .slick-current.slick-active.slick-center img {
    height: 614px
}

.center-slider h2 {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
    padding: 0 31px;
}

.center-slider .slick-current.slick-active.slick-center h2 {
    color: #f0f0f0;
    margin-bottom: 15px;
}

.center-slider .carousel-wrapper-wrapper {
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
    width: 100%
}

.center-slider .slick-slide {
    cursor: pointer;
    display: inline-block;
    filter: contrast(.6);
    float: none;
    height: 100%;
    margin: 0 40px;
    padding: 40px 0;
    text-align: center;
    align-self: flex-start;
    transition: all .3s ease-in-out;
    vertical-align: middle
}

.center-slider .slick-track {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center
}

.center-slider .carousel-wrapper-wrapper .slick-slide.slick-center,
.center-slider .carousel-wrapper-wrapper .slick-slide.slick-current {
    cursor: default;
    filter: none;
    transform: scale(1.1)
}

.center-slider .carousel-wrapper-wrapper .slick-arrow.slick-prev {
    background-color: #fff;
    border-radius: 50%;
    color: #26282b;
    height: 64px !important;
    left: calc(100vw - 84%);
    width: 64px;
    z-index: 99
}

.center-slider .carousel-wrapper-wrapper .slick-arrow.slick-next {
    background-color: #fff;
    border-radius: 50%;
    color: #26282b;
    height: 64px !important;
    right: calc(100vw - 84%);
    width: 64px;
    z-index: 99
}