main .testimonials-container {
    background-color: #f5f4ef;
}

main .section.video-container {
    background-color: #f5f4ef;
    margin-bottom: 120px;
}

.testimonials-container .default-content-wrapper #dreams-to-reality-our-happy-customer-stories {
    margin-bottom: 0;
    margin-top: 0;
    margin-inline: unset;
    padding-top: 57px;
    padding-bottom: 24px;
    text-align: center;
    color: #323232;
    font-family: BioRhyme;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.192px;
}

@media (max-width: 575.98px) {
    .testimonials-container .default-content-wrapper #dreams-to-reality-our-happy-customer-stories {
        font-size: 22px;
        line-height: 30.8px;
        padding-bottom: 15px;
    }
}