.visual-cards-wrapper ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 35px;
  justify-content: space-between;
  margin: 34px auto;
}

.visual-cards-wrapper li::before {
  position: absolute;
  right: -55%;
  top: 83px;
  z-index: -1;
}

.visual-cards-wrapper li:nth-child(1)::before {
  content: url(/content/dam/beautiful-homes/icons/yellow-icons/process-1.png);
}

.visual-cards-wrapper li:nth-child(2)::before {
  content: url(/content/dam/beautiful-homes/icons/yellow-icons/process-2.png);
}

.visual-cards-wrapper li:nth-child(3)::before {
  content: url(/content/dam/beautiful-homes/icons/yellow-icons/process-3.png);
}

.visual-cards-wrapper li:nth-child(4)::before {
  content: url(/content/dam/beautiful-homes/icons/yellow-icons/process-4.png);
}

.section.visual-cards-wrapper-container {
  padding: 0;
}

.visual-cards-wrapper-wrapper {
  max-width: 1220px !important;
}

.visual-cards-wrapper li {
  max-width: 186px;
  position: relative;
}

.visual-cards-wrapper li source,
.visual-cards-wrapper li picture {
  display: block;
}

.visual-cards-wrapper li img {
  height: 165px;
  width: 165px;
}

.visual-cards-wrapper .visual-cards-wrapper-card-body h5 {
  color: #323232;
  text-align: center;
  font-family: Lato;
  font-size: 22px;
  font-weight: 700;
  line-height: 28.6px;
  margin-bottom: 16px;
}

.visual-cards-wrapper .visual-cards-wrapper-card-body p {
  color: #323232;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  margin: 0;
}

.visual-cards-wrapper .visual-cards-wrapper-card-image {
  line-height: 0;
}

.visual-cards-wrapper .visual-cards-wrapper-card-body>*:first-child {
  margin-top: 0;
}


@media screen and (max-width: 992px) {
  .visual-cards-wrapper ul {
    padding: 20px;
    flex-direction: column;
    margin: 0;
    padding-top: 0;
  }

  .visual-cards-wrapper li {
    padding-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: max-content;
  }

  .visual-cards-wrapper li img {
    height: 120px;
    width: 120px;
  }

  .visual-cards-wrapper .visual-cards-wrapper-card-image {
    line-height: 0;
    position: absolute;
    left: 0;
    margin-right: auto;
  }

  .visual-cards-wrapper .visual-cards-wrapper-card-body {
    max-width: calc(100% - 140px);
    width: 100%;
    margin-left: auto;
  }

  .visual-cards-wrapper .visual-cards-wrapper-card-body>*:first-child {
    text-align: left;
  }

  .visual-cards-wrapper li::before {
    right: auto;
    left: -10px;
    top: 160px;
    transform: rotate(90deg);
  }

  .section.visual-cards-wrapper-container {
    margin-bottom: 80px;
  }
}