
.footer-bg-container-color {
    background-color: #f1efe8
}

.footer__section {
    padding: 83px 40px 64px 40px
}

.footer__rowContent {
    display: flex;
    align-items: start
}

.footer__logo__content {
    width: 201px;
    height: 59px
}

.footer_icon__logo {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.footer_newsletter {
    margin-left: 64px;
    margin-right: 146px
}

.footer_newsletter .footer__col {
    padding: unset
}

.footer__newsletter-title {
    font-family: Lato;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #222;
    padding: unset;
    margin-top: -3px
}

.footer__container__revamp .footer__newsletter {
    max-width: unset;
    margin: unset
}

.footer__newsletter-form {
    display: flex;
    width: 100%;
    position: relative;
    gap: 20px;
    align-items: end;
    justify-content: left
}

.footer__newsletter-form__field {
    border-radius: 6px;
    border: 1px solid #20202033;
    width: 320px;
    font-weight: 400;
    margin-right: unset;
    color: #202020;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 14px;
    min-height: 40px
}

.footer__newsletter-form__btn {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 20.8px;
    padding: 0 39px;
    min-height: 41px;
    width: fit-content;
    color: #fff
}

span.error-list {
    position: absolute;
    color: #ed1c24;
    font-size: 12px;
    font-weight: 700;
    top: 45px;
    left: 3px;
    display: none
}

.footer__newsletter-success {
    color: #7345b2;
    display: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 8px
}

.footer__social__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: -3px;
    color: #222
}

.footer__social_icon_list {
    display: flex;
    gap: 20px;
    position: relative;
    top: 3px
}

.socialicon__img {
    width: 25px;
    height: 25px;
    object-fit: contain
}

.footer__category__main .cmp-contentfragment__title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #222
}

.footer__category__main .cmp-contentfragmentlist {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 40px 35px 40px
}

.footer__category__main .cmp-contentfragmentlist .cmp-contentfragment {
    width: 20%
}

.footer__category__main .cmp-contentfragmentlist .cmp-contentfragment.cmp-contentfragment--supports {
    display: none
}

.footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-title {
    display: none
}

.footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element--categoryName .cmp-contentfragment__element-value {
    display: none
}

.footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value ul {
    margin-top: 22px;
    column-count: 1
}

.footer__category__main .cmp-contentfragment:first-child .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value ul {
    column-count: 2
}

.footer__category__main .cmp-contentfragment:last-child .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value ul {
    column-count: 2
}

.footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value ul li {
    padding-bottom: 19px
}

.footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #1d1d1f
}

.footer__copyright--main .cmp-contentfragmentlist {
    padding: 0 40px 40px 40px
}

.footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment--copyright {
    padding-top: 24px;
    border-top: 1px solid #9c9c9c
}

.footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__title {
    display: none
}

.footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-title {
    display: none
}

.footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-value {
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #000
}

.footer__copyright--main .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-value {
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    color: #000
}

.footer__copyright--main .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-value ul {
    display: flex;
    gap: 30px
}

.footer__copyright--main .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-value ul li a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 29px;
    border-bottom: 1px solid #000;
    padding-bottom: .5px
}

@media(max-width: 768px) {
    .footer__section {
        padding:35px 20px 0 20px
    }

    .footer__rowContent {
        align-items: normal;
        flex-direction: column;
        width: 100%
    }

    .footer__newsletter-form {
        gap: 11px;
        flex-direction: row;
        margin-bottom: 30px
    }

    .footer__newsletter-form__field {
        font-size: 14px;
        width: 197px;
        margin: unset
    }

    .footer__logo__content {
        width: 153px;
        height: 45px;
        margin-bottom: 26px
    }

    .footer_newsletter {
        width: 100%;
        margin: unset
    }

    .footer__newsletter-form__btn {
        padding: 10px 25px
    }

    .footer__social__title {
        margin-bottom: 15px
    }

    .footer__category__main .cmp-contentfragment__title {
        line-height: 20.8px;
        color: #1d1d1f
    }

    .footer__category__main .cmp-contentfragmentlist {
        flex-direction: column;
        padding: 20px 20px 40px 20px
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment {
        width: 100%
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment.cmp-contentfragment--supports {
        display: block
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__element-value h3 {
        display: none
    }

    .footer__category__main .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value {
        display: none
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value ul:nth-child(2) {
        display: none
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__title {
        border-bottom: 1px solid #20202033;
        padding-bottom: 16px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__title::after {
        content: "+";
        font-size: 24px
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__title.active::after {
        transform: rotate(134deg)
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__title.active {
        border-bottom: 0
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLink .cmp-contentfragment__element-value ul {
        margin-top: 0
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLink .cmp-contentfragment__element-value ul.active {
        border-bottom: 1px solid #20202033;
        margin-bottom: 0
    }

    .footer__category__main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element--categoryLinks .cmp-contentfragment__element-value ul.active {
        border-bottom: 1px solid #20202033;
        margin: 0
    }

    .footer__copyright--main .cmp-contentfragmentlist {
        padding: 0 20px 92px 20px
    }

    .footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment--copyright {
        padding-top: 0;
        border-top: 0
    }

    .footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements {
        flex-direction: column;
        align-items: normal;
        row-gap: 8px
    }

    .footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element--copyRightLinks .cmp-contentfragment__element-value ul {
        column-gap: 20px;
        row-gap: 8px;
        width: 100%;
        flex-wrap: wrap
    }

    .footer__copyright--main .cmp-contentfragmentlist .cmp-contentfragment .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-value {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px
    }

    .footer__copyright--main .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-value ul {
        display: flex;
        gap: 30px
    }

    .footer__copyright--main .cmp-contentfragment__elements .cmp-contentfragment__element .cmp-contentfragment__element-value ul li a {
        font-size: 12px;
        font-weight: 600;
        line-height: 29px
    }

    .footer__social_icon_list {
        gap: 29px
    }
}
/* .footer-wrapper{
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1440px;
} */

body, html, button, input {
  line-height: normal;
}
