:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;

  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >=900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 5px;
  margin: 15px 18px
}

body::-webkit-scrollbar {
  width: 3px;
  height: 4px;
}

body::-webkit-scrollbar-thumb {
  background: #a1a1a1;
  border-radius: 5px
}


main .section {
  padding: 0;
}

main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

picture,
source {
  display: block;
  line-height: 0;
}

/* HEAD REDESIGN CONTAINER */
.head-redesign-container {
  margin-top: 85px;
  margin-bottom: 120px;
}

.head-redesign-container .columns-img-col {
  min-height: 563px;
  width: 62.3%;
  flex: unset;
}

.head-redesign-container .columns-wrapper .columns-img-col+div {
  width: 37.7%;
  flex: unset;
}

.head-redesign-container .columns-img-col img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 575.98px) {
  .head-redesign-container {
    margin-bottom: 80px;
    margin-top: 75px;
  }

  .head-redesign-container .columns-img-col img {
    height: 400px;
  }

  .head-redesign-container .columns-wrapper .columns-img-col+div {
    width: 100%;
    min-height: 563px;
  }
}

@media screen and (max-width: 992.9px) {
  .head-redesign-container .columns-img-col {
    width: 100%;
  }
}

header.primary_new_header_mobile.header-m {
  position: relative;
  z-index: 1000;
}

main .center-slider {
  position: relative;
  margin-bottom: 120px;
}

.visual-cards-wrapper-wrapper {
  position: relative;
  z-index: -1
}

button.btn.btn--primary.btn__icon--right.black-form-cta-click {
  padding: 12px 39px !important;
  line-height: 23.4px !important;
  color: #f7f2e7 !important;
}